.content {

	max-width: 1920px;
	width: 100%;
	height: 1075px;

	position: relative;

	.wrap {
		margin-left: 351px;
		margin-right: 450px;

		display: flex;
		flex-direction: column;

		.content__top {
			height: 333px;
			margin-top: 59px;

			.content__pagination {
				width: 1218px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border: 1px solid gray;
				margin-top: 41px;

				.content__pagination-text-main {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 15px;
					color: #B1B1B1;
					cursor: pointer;
					margin-left: 10px;
				}

				.content__pagination-img {
					height: 7px;
					width: 7px;
					background-image: url('../img/right-arrow.svg');
					background-repeat: no-repeat;
					margin-left: 7px;

				}

				.content__pagination-text-smog {

					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 15px;
					margin-left: 7px;
					cursor: pointer;
					color: #4C858B;
				}
			}

			.content__description {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 30px;
				margin-top: 81px;


				color: #000000;

				span {
					color: red;
				}
			}

		}

		.content__lorem {
			height: 677px;
			width: 100%;

			.box {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.content__lorem-left {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					flex-direction: column;


					.content__subtitle {
						width: 629px;
						height: 123px;
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 600;
						font-size: 40px;
						line-height: 53px;
						color: #000000;
						margin-top: 47px;

						span {
							font-size: 50px;
							color: red;
							font-weight: 700;
							text-transform: uppercase;
						}
					}

					.content__lorem-item {
						margin-top: 39px;

						margin-left: 30px;

						color: red;
						width: 513px;

						span {

							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 24px;
							color: #000000;
						}
					}
				}

				.content__lorem-right {
					position: relative;
					width: 631px;
					height: 541px;


					.content__blob {
						position: absolute;
						height: 541px;
						width: 766px;
						top: 50px;
						left: 0px;
						background-image: url('../img/Blob.png');
						border-radius: 0px;
						background-repeat: no-repeat;
						z-index: -1;

					}

					.content__img {
						position: absolute;
						width: 477px;
						height: 459px;
						top: 25px;
						left: 180px;
						background-image: url('../img/chimneypng.png');
						border-radius: 0px;
						background-repeat: no-repeat;

					}

					.content__group-top {
						position: absolute;
						height: 147.53919982910156px;
						width: 36.03276443481445px;
						top: 63px;
						left: 140px;
						background-image: url('../img/Group.png');
						border-radius: 0px;
						background-repeat: no-repeat;

					}

					.content__group-down {
						position: absolute;
						height: 147.53919982910156px;
						width: 36.03276443481445px;
						top: 470px;
						right: -190px;
						background-image: url('../img/Group.png');
						border-radius: 0px;
						background-repeat: no-repeat;
					}

					.content__to-pointer {
						height: 19.202238082885742px;
						width: 77.50518035888672px;
						position: absolute;
						border-radius: 0px;
						background-repeat: no-repeat;
						background-image: url('../img/Triangle\ 1.png');
						top: 205px;
						left: 10px;
					}

					.content__three-pointer {
						height: 19.202238082885742px;
						width: 77.50518035888672px;
						position: absolute;
						border-radius: 0px;
						background-repeat: no-repeat;
						background-image: url('../img/Triangle\ 1.png');
						top: 90px;
						right: -250px;
					}
				}
			}
		}
	}
}

@media(max-width:768px) {
	.content {

		max-width: 768px;

		width: 100%;
		height: 908px;

		position: relative;

		.wrap {
			margin-left: 15px;
			margin-right: 15px;

			display: flex;
			flex-direction: column;

			.content__top {
				height: 333px;
				margin-top: 59px;

				.content__pagination {
					width: 700px;
					height: 48px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					border: 1px solid gray;
					margin-top: 41px;

					.content__pagination-text-main {
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 15px;
						color: #B1B1B1;
						cursor: pointer;
						margin-left: 10px;
					}

					.content__pagination-img {
						height: 7px;
						width: 7px;
						background-image: url('../img/right-arrow.svg');
						background-repeat: no-repeat;
						margin-left: 7px;

					}

					.content__pagination-text-smog {

						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 15px;
						margin-left: 7px;
						cursor: pointer;
						color: #4C858B;
					}
				}

				.content__description {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 30px;

					margin-top: 60px;

					color: #000000;

					span {
						color: red;
					}
				}

			}

			.content__lorem {
				height: 677px;
				width: 100%;

				.box {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.content__lorem-left {

						width: 760px;


						.content__subtitle {
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 600;
							font-size: 30px;
							line-height: 52px;
							width: 500px;
							color: #000000;

							span {
								font-size: 40px;
								color: red;
								font-weight: 700;
								text-transform: uppercase;
							}
						}

						.content__lorem-list {
							margin-top: -30px;
							margin-left: 13px;

							width: 760px;

							.content__lorem-item {
								margin-top: 19px;

								margin-left: 30px;

								color: red;

								max-width: 760px;
								width: 100%;

								span {

									font-family: 'Montserrat';
									font-style: normal;
									font-weight: 400;
									font-size: 16px;
									line-height: 24px;
									color: #000000;
								}
							}
						}

					}

					.content__lorem-right {

						display: none;

						.content__blob {}

						.content__img {}

						.content__group-top {}

						.content__group-down {}

						.content__to-pointer {}

						.content__three-pointer {}
					}
				}
			}
		}
	}
}