.form {
	height: 260px;
	width: 100%;
	max-width: 1920px;


	.container {
		margin-left: 526px;
		margin-right: 528px;
		margin-top: 38px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		background: #FFFFFF;
		height: 100%;

		box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);

		.form__introduction {
			margin-left: 59px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: column;

			.form-title {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 22px;

				color: #000000;

				span {
					color: red;
				}
			}

			.form-subtitle {
				margin-top: 12px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 30px;
				/* identical to box height, or 188% */


				color: #000000;
			}
		}

		.form__use {
			margin-top: 22px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			max-width: 752px;
			margin-left: 53px;


			.btn {
				background: #215359;
				border-radius: 4px;
				height: 56px;
				width: 240px;
				color: white;
				cursor: pointer;

				&:hover {
					background: rgb(14, 192, 159)
				}
			}
		}

	}

}

@media(max-width:768px) {
	.form {
		height: 490px;
		width: 100%;
		max-width: 740px;


		.container {
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 188px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			background: #FFFFFF;
			height: 80%;
			box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);


			.form__introduction {
				margin-top: 69px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;


				.form-title {

					font-size: 20px;
					line-height: 22px;
					text-align: center;

					span {
						color: red;
					}
				}

				.form-subtitle {
					font-weight: 400;
					font-size: 16px;
					line-height: 30px;
					/* identical to box height, or 188% */

					text-align: center;
					margin-top: 12px;
				}
			}

			.form__use {
				margin-top: -20px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: column;
				width: 100%;
				max-width: 752px;
				margin-left: 53px;

				.input {
					margin-top: 25px;
				}

				.btn {
					background: #215359;
					border-radius: 4px;
					height: 56px;
					width: 240px;
					color: white;
					cursor: pointer;
					margin-top: 25px;

					&:hover {
						background: rgb(14, 192, 159)
					}
				}
			}

		}

	}
}